---
interface Props extends astroHTML.JSX.HTMLAttributes {}
---

<section
  class=" text-white relative h-full grid place-items bg-center bg-no-repeat bg-cover overflow-hidden"
  style="background-image: url('/src/assets/hero.png');"
>
  <div class="inset-0 absolute bg-black/20"></div>
  <div class="z-10 flex flex-col justify-center p-4">
    <h1 class="text-5xl font-semibold mb-4">Nutrimais</h1>
    <p>Há 14 anos nutrindo vidas com saúde e qualidade!</p>
  </div>
</section>
