---
import Header from "./Header.astro";
import Hero from "./Hero.astro";
import { Products } from "./Products";
---

<div class="flex flex-col gap-between-sections">
  <div class="h-[90vh] relative p-4 ">
    <Header />
    <Hero />
  </div>
  <Products client:load />
</div>
